[role=button] {
  cursor: pointer;
}

header {
  background: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
  font-size: 2rem;
  height: 90px;
}

header .icon {
  display: inline-block;
  line-height: 90px;
  padding: 0 1rem;
}

header .hamburger.active {
  background-color: #808080;
  opacity: 1;
}

header .hamburger.deactive {
  color: #808080;
}

header .hamburger:after {
  content: '\2630';
}

header .browse-mode {
  opacity: 0.2;
}

header .browse-mode.active {
  background-color: #808080;
  opacity: 1;
}

header .browse-mode:after {
  content: '\1F4C1';
}

.app-menu {
  background-color: #fafafa;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 90px;
  left: -500px;
  height: calc(100% - 90px);
  overflow: auto;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  width: 480px;
}

.app-menu--on {
  left: 0;
}

.app-menu a {
  color: #808080;
  text-decoration: none;
  white-space: nowrap;
}

.app-menu__logo {
  display: inline-block;
  margin: 36px 60px;
}

.app-menu__logo-bar {
  background-color: #808080;
  color: #FFF;
}

.app-menu__logo-img {
  max-height: 50px;
  max-width: 300px;
}

.app-menu__close {
  display: block;
  font-size: 36px;
  margin-top: 15px;
}

.app-menu__curated-options {
  border-bottom: 2px solid #808080;
  margin: 20px 0;
  padding: 0;
}

.app-menu__curated-link {
  display: block;
  margin: 20px 0;
}

.app-menu__space-x {
  margin-left: 60px;
  margin-right: 60px;
}

.app-menu__breadcrumb-item {
  background-color: #F2F2F2;
  color: #808080;
  display: block;
  font-size: .75rem;
  font-style: italic;
  padding: 10px 60px;
  position: relative;
}

.app-menu__breadcrumb-item:after {
  border-top: 10px solid #F2F2F2;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  position: absolute;
  right: 60px;
  bottom: -10px;
  z-index: 1;
}

.app-menu__breadcrumb-item:nth-child(odd) {
  background-color: #E6E6E6;
}

.app-menu__breadcrumb-item:nth-child(odd):after {
  border-top-color: #E6E6E6;
}

.app-menu__breadcrumb-item:last-child {
  margin-bottom: 2rem;
}

.app-menu__reset {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-menu__reset-arrow {
  color: #808080;
  position: relative;
  top: -2px;
}

.app-menu__landing-page-link {
  display: block;
  margin: 3rem 0 0;
  position: relative;
}

.app-menu__landing-page-link:before {
  background-color: #808080;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
  content: '';
  display: block;
  height: 8px;
  width: 8px;
}

.app-menu__landing-page-link:after {
  border: 1px solid #808080;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: block;
  height: 14px;
  width: 14px;
}

.app-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-nav__node {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  overflow: hidden;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.app-nav__node--active {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app-nav__node-child {
  display: block;
  margin: 1rem 0;
  position: relative;
  width: 100%;
}

.app-nav__node-child[data-target]:after {
  content: '\203A';
  font-size: 20px;
  position: absolute;
  top: -2px;
  right: 0;
}
/*# sourceMappingURL=app.css.map */